{%extends 'index.html' %}
{% load static %}
{% block content %}

<!-- # site main content
================================================== -->
<section id="content" class="s-content">

        <section class="s-pageheader pageheader">
            <div class="row">
                <div class="column xl-12">
                    <h1 class="page-title">
                        <span class="page-title__small-type text-pretitle">Contact</span>
                        Get In Touch
                    </h1>                            
                </div>
            </div>
        </section> <!--pageheader -->  

        <section class="s-pagecontent pagecontent">

            <div class="row pageintro">
                <div class="column xl-6 lg-12">
                    <h2 class="text-display-title">Let's take your business to the next level.</h2>
                </div>
                <div class="column xl-6 lg-12 u-flexitem-x-right">
                    <p class="lead">
                        Got a project in mind or want to learn more? I'd love to hear from you. Reach out and let's start the conversation.
                </div>                       
            </div> <!-- pageintro -->   
            
            <div class="row pagemedia">
                <d class="column xl-12">
                    <figure class="page-media">                                
                        <img src= "{% static 'img/thumbs/contact/contact-1200.jpg' %}" 
                                srcset="{% static 'img/thumbs/contact/contact-2400.jpg' %} 2400w,
                                {% static 'img/thumbs/contact/contact-1200.jpg' %} 1200w,
                                {% static 'img/thumbs/contact/contact-600.jpg' %} 600w" sizes="(max-width: 2400px) 100vw, 2400px" alt="">
                    </figure>
                </d>
            </div> <!-- pagemedia --> 

            <div class="row width-narrower pagemain">
                <div class="column xl-12">
                    <h2>Let's Work Together</h2>

                    <div class="row">
                        <div class="column xl-6 md-12 contact-cta">     
                            <p>
                                Ready to turn your ideas into a dynamic web solution? With expertise in Python, Django, and full-stack development, I'm here to bring your vision to life. Let's work together to create something great.
                            </p>

                            <a href="mailto:#0" class="btn btn--primary u-fullwidth contact-btn">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: msFilter;"><path d="M20 4H4c-1.103 0-2 .897-2 2v12c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zm0 2v.511l-8 6.223-8-6.222V6h16zM4 18V9.044l7.386 5.745a.994.994 0 0 0 1.228 0L20 9.044 20.002 18H4z"></path></svg>
                                Send Me An Email
                            </a>
                        </div> 
                        <div class="column xl-5 md-12 u-flexitem-x-right">

                            <div class="contact-block">
                                <h6>Follow On Social</h6>
                                <ul class="contact-social social-list">
                                    <li>
                                        <a href="https://github.com/madmax73" target="_blank">
                                            <img src="{% static 'img/github-mark.svg' %}" alt="GitHub Profile" style="width: 25px;">
                                            <span class="u-screen-reader-text">GitHub</span>
                                        </a>
                                    </li>
                                    
                                </ul> <!-- end s-footer__social -->
                            </div>

                            <div class="contact-block">
                                <h6>Email</h6>
                                <a href="mailto:chert.ionut@gmail.com">chert.ionut@gmail.com</a>
                            </div>

                            <div class="contact-block">
                                <h6>Phone</h6>
                                <ul class="contact-list">
                                    <li><a href="tel:+40740167562">+40 740 167 562</a></li>
                                    
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>                        
            </div> <!-- end pagemain -->

        </section> <!-- pagecontent -->

       
</section> <!-- s-content-->
{% endblock %}
        