{% extends "index.html" %}
{% load static %}

{% block content %}
<section id="content" class="s-content">

  <!-- intro
  ----------------------------------------------- -->
  <section id="intro" class="s-intro">

      <div class="row s-intro__content width-sixteen-col">

          <div class="column lg-12 s-intro__content-inner grid-block">
              
              <div class="s-intro__content-text">
                  <div class="s-intro__content-pretitle text-pretitle">Hello, I'm Chert</div>
                  <h1 class="s-intro__content-title">
                    I design and develop <br>
                    innovative web solutions <br>
                    that drive success.
                </h1>
              </div> <!-- s-intro__content-text -->

              <div class="s-intro__content-media"> 
                  <div class="s-intro__content-media-inner">                               
                      <img src="{% static 'img/intro-bg.png' %}" srcset="{% static 'img/intro-bg.png' %} 1x, {% static 'img/intro-bg.png' %} 2x" alt="">
                      <div class="lines">                               
                          <span></span>                                  
                      </div>
                  </div>
              </div> <!-- s-intro__content-media -->                      

              <div class="s-intro__scroll-down">
                  <a href="#about" class="smoothscroll">
                      <div class="scroll-icon">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36" fill="none" stroke="#97b34a" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">&lt;!--!  Atomicons Free 1.00 by @atisalab License - https://atomicons.com/license/ (Icons: CC BY 4.0) Copyright 2021 Atomicons --&gt;<polyline points="7 13 12 18 17 13"></polyline><line x1="12" y1="18" x2="12" y2="6"></line></svg>
                      </div>
                      <span>Scroll for more</span>
                  </a>
              </div> <!-- s-intro__scroll-down -->
              
          </div> <!-- s-intro__content-inner -->

      </div> <!-- s-intro__content -->

  </section> <!-- end s-intro -->

  <!-- about
  ----------------------------------------------- -->
  <section id="about" class="s-about target-section">

      <div class="row s-about__content width-sixteen-col">
          <div class="column grid-block grid-section-split">

              <img src="{% static 'img/geometric_shape.svg' %}" alt="" class="s-about__content-imgbg">

              <div class="section-header grid-section-split__header">
                  <div class="text-pretitle">About</div>                           
                  <h2 class="text-display-title">
                    Your Partner in Transforming Ideas into Reality
                  </h2>                           
              </div> <!-- end section-header -->

              <div class="s-about__content-main grid-section-split__primary">
                  <p class="attention-getter">
                    I'm Chert, a proficient Python developer with a focus on web development using Django. 
                    I have honed my skills in building scalable, robust, and secure web applications that
                    cater to client needs and create impactful user experiences.
                  </p>

                  <p class="attention-getter">
                    My passion lies in leveraging the simplicity and power of Python, 
                    coupled with Django's flexible and robust framework, 
                    to craft web solutions that drive efficiency and innovation. 
                    From designing RESTful APIs to integrating third-party services, 
                    I am adept at all stages of the web development lifecycle.
                  </p>

                  <p class="attention-getter">
                    As a lifelong learner, I continuously explore the latest advancements in Python and Django, 
                    ensuring that I deliver contemporary and top-tier solutions. 
                    With a commitment to quality and a detail-oriented approach, 
                    I'm here to turn your ideas into digital reality.
                  </p>
              </div> <!-- end s-about__content-main -->

              <div class="s-about__content-btn grid-section-split__bottom">
                  <a href="{% url 'main:about' %}" class="btn btn--stroke u-fullwidth">More About Me</a>

                  <ul class="s-about__social social-list">
                      <li>
                          <a href="https://github.com/madmax73" target="_blank">
                                <img src="{% static 'img/github-mark-white.svg' %}" alt="GitHub Profile" style="width: 25px;">
                              <span class="u-screen-reader-text">GitHub</span>
                          </a>
                      </li>
                      
                  </ul> <!-- end s-footer__social -->
              </div> <!-- end s-about__content-btn -->
          
          </div> <!-- content-inner -->
      </div>
      
  </section> <!-- end s-about -->

  <!-- expertise
  ----------------------------------------------- -->
  <section id="expertise" class="s-expertise">

      <div class="row s-expertise__content width-sixteen-col">
          <div class="column xl-12 grid-block grid-section-split">

              <div class="section-header grid-section-split__header">
                  <div class="text-pretitle">Expertise</div>                           
                  <h2 class="text-display-title">
                  My key areas of expertise.
                  </h2>     
                  
                  <p class="lead">
                    Python and Django development, with a focus on managing databases, ensuring web security, and crafting engaging user experiences. Continually learning and adapting to stay at the cutting edge of web development trends.
                  </p>
              </div> <!-- end section-header -->

              <div class="s-expertise__content-main grid-section-split__primary">

                  <div class="grid-list-items list-items show-ctr">
                      <div class="grid-list-items__item list-items__item">
                          <div class="grid-list-items__title list-items__item-header">
                              <h3 class="list-items__item-title">Python Programming</h3>
                          </div>
                          <div class="grid-list-items__text list-items__item-text">
                              <p>
                                Proficient in Python, with a solid understanding of its syntax, data structures, and libraries.
                              </p>
                          </div>
                      </div> <!-- list-item -->
                      <div class="grid-list-items__item list-items__item">
                          <div class="grid-list-items__title list-items__item-header">
                              <h3 class="list-items__item-title">Django Web Development:</h3>
                          </div>
                          <div class="grid-list-items__text list-items__item-text">
                              <p>
                                Expert in building scalable, robust, and secure web applications using Django.
                              </p>
                          </div>
                      </div> <!-- list-expertise__item -->
                      <div class="grid-list-items__item list-items__item">
                          <div class="grid-list-items__title list-items__item-header">
                              <h3 class="list-items__item-title">Front-End Integration</h3>
                          </div>
                          <div class="grid-list-items__text list-items__item-text">
                              <p>
                                Proficient in integrating front-end technologies with Django to create seamless and engaging user experiences.
                              </p>
                          </div>
                      </div> <!-- list-expertise__item -->
                      <div class="grid-list-items__item list-items__item">
                          <div class="grid-list-items__title list-items__item-header">
                              <h3 class="list-items__item-title">Database Management</h3>
                          </div>
                          <div class="grid-list-items__text list-items__item-text">
                              <p>
                                Experienced in database design, implementation, and optimization for efficient data storage and retrieval.
                              </p>
                          </div>
                      </div> <!-- list-expertise__item -->

                  </div> <!-- grid-list-items -->
              </div> <!-- end s-expertise__content-main -->

              <div class="s-expertise__content-btn grid-section-split__bottom">
                  <a href="{% url 'main:services' %}" class="btn btn--stroke u-fullwidth">View All Services</a>
              </div> <!-- end s-about__content-btn -->

          </div> <!-- end grid-block-->
      </div> <!-- end s-expertise__content -->

  </section> <!-- end s-expertise -->

  

{% include "cta.html" %}
        
{% endblock %}