{% extends 'base_generic.html' %}

{% block content %}
    <!-- Blog detail Section -->
    <section id="blog-detail">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div class="blog-post-detail">
                        <!-- Blog Post Title -->
                        <h2 class="blog-post-title">{{ post.title }}</h2>

                        <!-- Author and Publish Date -->
                        <p class="blog-post-meta">
                            <small>
                            Posted by <strong>{{ post.author }}</strong> on {{ post.created_at }}
                            </small>
                        </p>

                        <!-- Blog Post Content -->
                        <div class="blog-post-content">
                            {{ post.body|linebreaks }}
                        </div>

                        <!-- Blog Post Technologies used (if any) -->
                        {% if post.technologies %}
                        <h5>Technologies Used:</h5>
                        <p>{{ post.technologies }}</p>
                        {% endif %}

                        <!-- Return to Blog List button -->
                        <a href="{% url 'blog:blog_index' %}" class="btn btn-primary mt-3">Return to Blog List</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
