{% load static %}
<!-- # cta
        ================================================== -->
        <section id="cta" class="s-cta">

            <div class="row row-x-center text-center">
                <div class="column xl-8 lg-12">

                    <div class="s-cta__content">
                        <h2 class="text-display-title">
                        Ready to bring your projects to life?
                        </h2>
                        <p class="lead">
                        As a seasoned Python and Django developer, I'm equipped to turn your vision into a functional, user-friendly, and efficient web solution. Let's start creating together.
                        </p>
                        <a href="{% url 'main:contact' %}" class="btn btn--primary">Let's Work Together</a>
                    </div>

                </div>
            </div>

        </section> <!-- end s-cta -->
        <!-- to add blog posts preview when there will be blog posts -->